body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    line-height: 1.5em;
    color: #474747;
    text-align: center;
}

h1 {
    font-size: 140%;
}

h2 {
    font-size: 120%;
}

#container {
    width: 760px;
    margin: 0 auto;
    text-align: left;
}

#header {
    margin-top: 5px;
}

#header h1 {
    margin: 0 10px;
    font-size: 180%;
    font-weight: normal;
    color: #000;
}

/* Page Bar */
#pages ul {
    margin: 0 5px 5px 0;
    padding: 0;
    list-style: none;
    float: right;
    color: #000;
}

#pages ul li {
    padding: 0 7px;
    float: left;
}

#pages ul li a {
    text-decoration: none;
    color: #000;
}

#pages ul li a:hover {
    color: #ffea1a;
}

#main {
    clear: both;
    border-top: 1px solid #2181a4;
}

#leftMenuNav {
    padding-top: 10px;
    background: #0066CC;
    width: 140px;
    float: left;
}

#leftMenuNav p {
    margin: 0;
    padding: 0 10px;
    color: #000;
    font-weight: bold;
}

#leftMenuNav ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
}

#leftMenuNav ul li a {
    padding: 3px 5px 3px 23px;
    display: block;
    color: #fff;
    text-decoration: none;
}

#leftMenuNav ul li a:hover {
}

#content {
    width: 610px;
    float: left;
    background: #fff;
}

#contentBody {
    padding: 5px;
}

#contentBody table {
    width: 100%;
    border: none;
    border-spacing: 0;
}

#contentBody table td, #contentBody table th {
    font-size: 0.7em;
}

#contentBody table th {
    background: #aaa;
    text-align: left;
}

#contentBody table th, #contentBody table td {
    padding: 3px 5px;
}

#contentBody table .alt {
    background: #ebebeb;
}

.contentFooter {
    clear: both;
}

#footer {
    padding-top: 10px;
    border-top: 1px solid #2181a4;
}

#footer p {
    margin: 5px 0 0 0;
    padding: 5px 0 0 0;
    text-align: center;
    color: #000;
    font-size: 90%;
}

.textStyle {
    border: 1px solid #616F45;
    color: #000000;
    width: 130px;
    padding-left: 2px;
}

div.tabpanel div.tab-row ul {
    height: 20px;
    margin: 0;
    padding-left: 10px;
    background: url( /tabs/tab_bottom.gif ) repeat-x bottom;
}

div.tabpanel div.tab-row li {
    margin: 0;
    padding: 0;
    display: inline;
    list-style-type: none;
}

div.tabpanel div.tab-row a:link, div.tabpanel div.tab-row a:visited {
    float: left;
    background: #f3f3f3;
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    padding: 2px 10px 2px 10px;
    margin-right: 4px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #666;
}

div.tabpanel div.tab-row li.selected a:link, div.tabpanel div.tab-row a:visited.active {
    border-bottom: 1px solid #fff;
    background: #fff;
    color: #000;
}

div.tabpanel div.tab-row a:hover {
    background: #fff;
}

.blockWithBorder {
    border-width: thin;
    border-style: dotted;
    border-color: #E9601A;
}

table.palette {
    border: 0;
}

table.palette td.header {
    font-weight: bold;
    font-size: 12pt;
    background-color: #eef7ff;
    padding: 2px;
    border-top: 1px solid #729ac2;
    border-bottom: 1px solid #729ac2;
}

table.palette td.pane {
    width: 100px;
    text-align: center;
}

table.palette td.pane select {
    width: 200px;
}

table.palette td.buttons {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

table.palette td.buttons button {
    width: 40px;
    height: 40px;
}

