<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <servlet>
    <servlet-name>chronos</servlet-name>
    <servlet-class>org.qi4j.ui.servlet.Servlet</servlet-class>
    <init-param>
      <param-name>webApplication</param-name>
      <param-value>org.qi4j.chronos.ui.ChronosApplication</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>chronos</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>